<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Twitter Clone - Final</title>

    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/stringCount.css">
    <link rel="stylesheet" href="/css/upload.css">
    <link rel="stylesheet" href="/css/showmore.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />

  </head>
  <body>

    <header class='header' style="overflow: hidden;" data-animate-header-container>
      <menu class='header-bar' data-animate-header>
        <a href="#" onclick="openNav()"  class='btn-menu' data-toggle-class='menu-active'>Menu</a>
        <a href='/<%=getUser.userId%>/home' class='btn-search' data-toggle-class='search-active'><img src="/asset/jadi4.png" class="pl-3" style="border-radius: 4px;padding: 1px;width: 100px;"></a>
        <a href='/' class='btn-search' data-toggle-class='search-active'>Logout</a>
      </menu>
    </header>
    


    <div id="mySidebar" class="sidebar">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>

      <img src="/asset/jadi3.png" class="pl-3 pb-5" style="border-radius: 4px;padding: 5px;width: 200px;">

      <a href="/<%=getUser.userId%>/home">
        <div class="sidebarOption">
          <span class="material-icons"> home </span>
          <h2>Home</h2>
        </div>
      </a>
      
      <a href="/<%=getUser.userId%>/profile">
        <div class="sidebarOption">
          <span class="material-icons"> perm_identity </span>
          <h2>Profile</h2>
        </div>
      </a>

      <a href="/<%=getUser.userId%>/trending">
        <div class="sidebarOption">
          <span class="material-icons"> <i class="fas fa-chart-line"></i> </span>
          <h2>Trending</h2>
        </div>
      </a>

      <a href="/<%=getUser.userId%>/findpeople">
        <div class="sidebarOption">
          <span class="material-icons"> <i class="fas fa-user-plus"></i> </span>
          <h2>Find People</h2>
        </div>
      </a>  
    </div>

    <div class="container pt-5 mt-5">
      <div class="bg-white shadow rounded overflow-hidden">
        <div class="feed">
          <div class="container">

          <!-- get tweet -->
            <div class="post">
              <div class="post__avatar">
                <% if getTweet.userId.profile_pic == nil %>
                  
                  <% if getTweet.userId.gender == "Male" %>
                    <img
                      src="/asset/avatar/male.jpg"
                    alt=""/>
                  <% else %>
                    <img
                      src="/asset/avatar/female.jpg"
                    alt=""/>
                  <% end %>

                <% else %>
                  <img
                    src="<%=getTweet.userId.profile_pic%>"
                  alt=""/>
                <% end %>


              </div>

              <div class="post__body">
                <div class="post__header">
                  <div class="post__headerText">
                    <h3>
                      <%= getTweet.userId.full_name %>
                      <span class="post__headerSpecial">@<%= getTweet.userId.username %></span>
                    </h3>
                  </div>
                  <div class="post__headerDescription text-justify">
                    <p class="show-read-more">
                      <%= getTweet.content %>
                    </p>

                    <% if getTweet.hashtags.length > 0 %>
                      <% getTweet.hashtags.each do |hashtag| %> 
                        <b>#<%= hashtag.hashtagId.hashtagName %></b>
                      <% end %>
                    <% end %>
                    
                  </div>
                  <% if getTweet.attachment != nil %>
                    <img
                      src="<%=getTweet.attachment%>"
                    alt=""/>
                  <% end %>
                </div>
              </div>
            </div>
          <!-- comment list -->
            <h3>Comment List</h3>
            <% commentList.each_with_index do |comment,index| %> 
              <div class="post">
                <div class="post__avatar">
                  <% if comment.userId.profile_pic == nil %>
                    
                    <% if comment.userId.gender == "Male" %>
                      <img
                        src="/asset/avatar/male.jpg"
                      alt=""/>
                    <% else %>
                      <img
                        src="/asset/avatar/female.jpg"
                      alt=""/>
                    <% end %>

                  <% else %>
                    <img
                      src="<%=comment.userId.profile_pic%>"
                    alt=""/>
                  <% end %>


                </div>

                <div class="post__body">
                  <div class="post__header">
                    <div class="post__headerText">
                      <h3>
                        <%= comment.userId.full_name %>
                        <span class="post__headerSpecial">@<%= comment.userId.username %></span>
                      </h3>
                    </div>
                    <div class="post__headerDescription text-justify">
                      <p class="show-read-more">
                        <%= comment.comment_tweet %>
                      </p>

                      <% if comment.hashtags.length > 0 %>
                        <% comment.hashtags.each do |hashtag| %> 
                          <b>#<%= hashtag.hashtagId.hashtagName %></b>
                        <% end %>
                      <% end %>
                    </div>

                    <% if comment.attachment != nil %>
                      <img
                        src="<%=comment.attachment%>"
                      alt=""/>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>

          </div>
        </div>
      </div>
      
      <div class="pt-2 pb-5">
        <div class="bg-white shadow rounded overflow-hidden pt-1">
          <div class="feed">
            <div class="container">


            <!-- write comment -->

                    <div class="tweetBox">
                      <form method="POST" action="/<%=getUser.userId%>/<%=getTweet.tweetId%>/comment" enctype="multipart/form-data">
                        <div class="tweetbox__input">

                          <% if getUser.profile_pic == nil %>                  
                            <% if getUser.gender == "Male" %>
                              <img
                                src="/asset/avatar/male.jpg"
                              alt=""/>
                            <% else %>
                              <img
                                src="/asset/avatar/female.jpg"
                              alt=""/>
                            <% end %>
                          <% else %>
                            <img
                              src="<%=getUser.profile_pic%>"
                            alt=""/>
                          <% end %>

                          <input type="text" name="comment_tweet" id="input-textarea" placeholder="write a comment..." required/>
                        </div>
                        <div class="count" style="padding-left:800px;"><b id="charac-count">0</b><b>/1000</b></div>

                        <div class="tweetbox__input" style="margin-bottom:-30px;">
                          <input type="text" name="hashtags" style="color:gray;font-size: 17px;" placeholder="Add Hashtag" />
                        </div>

                        <div class="d-flex justify-content-end">
                          <div class="container" >
                            <div class="container pt-4" style="padding-left:700px;" >
                          </div>
                            <div class="custom-file" >
                              <input type="file" name="file" class="custom-file-input" accept=".jpg,.png,.gif" id="customFile">
                              <label class="custom-file-label" for="customFile">Add Attachment</label>
                              <div class="invalid-feedback">Example invalid custom file feedback</div>
                            </div>
                          
                          </div>
                          <div class="p-2 bd-highlight"><button id="submitBtn" class="tweetBox__tweetButton">Submit</button></div>
                        </div>

                      </form>
                    </div>



            </div>
          </div>
        </div>
      </div>
    </div>



    <script src="/js/custom.js"></script>
    <script src="/js/uploadFile.js"></script>
    <script src="/js/showmore.js"></script>
    <script src="/js/stringCount.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
  
</html>