<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Twitter Clone - Final</title>

    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
  </head>
  <body>

    <header class='header' style="overflow: hidden;" data-animate-header-container>
      <menu class='header-bar' data-animate-header>
        <a href="#" onclick="openNav()"  class='btn-menu' data-toggle-class='menu-active'>Menu</a>
        <a href='/<%=getUser.userId%>/home' class='btn-menu' data-toggle-class='search-active'><img src="/asset/jadi4.png" class="pl-3" style="border-radius: 4px;padding: 1px;width: 100px;"></a>
        <a href='/' class='btn-menu' data-toggle-class='search-active'>Logout</a>
      </menu>
    </header>
    <!-- sidebar starts -->


    <div id="mySidebar" class="sidebar">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>

      <img src="/asset/jadi3.png" class="pl-3 pb-5" style="border-radius: 4px;padding: 5px;width: 200px;">

      <a href="/<%=getUser.userId%>/home">
        <div class="sidebarOption">
          <span class="material-icons"> home </span>
          <h2>Home</h2>
        </div>
      </a>
      
      <a href="/<%=getUser.userId%>/profile">
        <div class="sidebarOption">
          <span class="material-icons"> perm_identity </span>
          <h2>Profile</h2>
        </div>
      </a>

      <a href="/<%=getUser.userId%>/trending">
        <div class="sidebarOption">
          <span class="material-icons"> <i class="fas fa-chart-line"></i> </span>
          <h2>Trending</h2>
        </div>
      </a>

      <a href="/<%=getUser.userId%>/findpeople">
        <div class="sidebarOption">
          <span class="material-icons"> <i class="fas fa-user-plus"></i> </span>
          <h2>Find People</h2>
        </div>
      </a>  
    </div>


    <div class="container pt-5 mt-5">
      <div class="bg-white shadow rounded overflow-hidden">
        <div class="d-flex px-4 pt-4 pb-4 bg-dark">
          <h3 style="color:white;" class="text-center"><b>Edit User: @<%=getUser.username%></b></h3>
        </div>
    
        <div class="container p-5">
          
            <form method="POST" action="/<%=getUser.userId%>/profile/editdata">
                <div class="form-group">
                    <label for="exampleInputEmail1">Full Name</label>
                    <input type="text" id="full_name" name="full_name" class="form-control" placeholder="fill Full Name" value="<%=getUser.full_name%>" required >
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">User Name</label>
                    <input type="text" id="username" name="username" class="form-control" placeholder="fill username" value="<%=getUser.username%>" required >
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" id="email" name="email" class="form-control" placeholder="fill email" value="<%=getUser.email%>" required >
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Description</label>
                    <% if getUser.description == '' || getUser.description == nil %>
                      <textarea id="description" name="description" value="<%=getUser.description%>" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    <% else %>
                      <textarea id="description" name="description" value="<%=getUser.description%>" class="form-control" id="exampleFormControlTextarea1" rows="3"><%=getUser.description%></textarea>
                    <% end %>                    
                </div>

                <div class="d-flex flex-row-reverse bd-highlight">
                    <div class="p-2 bd-highlight"><button type="submit" class="tweetBox__tweetButton">edit</button></div>
                </div>
                
            </form>




        </div>
      </div>
    </div>
    <!-- End profile widget -->



    <script src="/js/custom.js"></script>
  </body>
  
</html>