<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Twitter Clone - Final</title>

    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/search_bar.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
  </head>
  <body>

    <header class='header' style="overflow: hidden;" data-animate-header-container>
      <menu class='header-bar' data-animate-header>
        <a href="#" onclick="openNav()"  class='btn-menu' data-toggle-class='menu-active'>Menu</a>
        <a href='/<%=getUser.userId%>/home' class='btn-menu' data-toggle-class='search-active'><img src="/asset/jadi4.png" class="pl-3" style="border-radius: 4px;padding: 1px;width: 100px;"></a>
        <a href='/' class='btn-menu' data-toggle-class='search-active'>Logout</a>
      </menu>
    </header>
    <!-- sidebar starts -->

    <div id="mySidebar" class="sidebar">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>

      <img src="/asset/jadi3.png" class="pl-3 pb-5" style="border-radius: 4px;padding: 5px;width: 200px;">

      <a href="/<%=getUser.userId%>/home">
        <div class="sidebarOption">
          <span class="material-icons"> home </span>
          <h2>Home</h2>
        </div>
      </a>
      
      <a href="/<%=getUser.userId%>/profile">
        <div class="sidebarOption">
          <span class="material-icons"> perm_identity </span>
          <h2>Profile</h2>
        </div>
      </a>

      <a href="/<%=getUser.userId%>/explore">
        <div class="sidebarOption">
          <span class="material-icons"> search </span>
          <h2>Explore</h2>
        </div>
      </a>

      <a href="/<%=getUser.userId%>/trending">
        <div class="sidebarOption">
          <span class="material-icons"> <i class="fas fa-chart-line"></i> </span>
          <h2>Trending</h2>
        </div>
      </a>

      <a href="/<%=getUser.userId%>/findpeople">
        <div class="sidebarOption">
          <span class="material-icons"> <i class="fas fa-user-plus"></i> </span>
          <h2>Find People</h2>
        </div>
      </a>  
    </div>


    <div class="container pt-5 mt-5">
      <div class="bg-white shadow rounded overflow-hidden">
        <div class="d-flex px-4 pt-4 pb-4 bg-dark">
            <div class="search-box">
              <form method="get">
                <button class="btn-search"><i class="fas fa-search"></i></button>
                <input type="text" name="searchUser" id="searchUser" class="input-search" placeholder="Type to Search...">
              </form>
            </div>

        </div>

        <div class="py-4 px-4">
          <div class="py-4">

            <% peopleList.each_with_index do |people,index| %>

              <% if getUser.userId != people.userId %>
                <div class="post">
                  <div class="profile mr-3">
                    <% if people.profile_pic == nil %>
                      <% if people.gender == "Male" %>
                        <img 
                          src="/asset/avatar/male.jpg" 
                        alt="..." width="130" class="rounded mb-2 img-thumbnail">

                      <% else %>
                        <img 
                          src="/asset/avatar/female.jpg" 
                        alt="..." width="130" class="rounded mb-2 img-thumbnail">
                      <% end %>
                    <% else %>
                      <img 
                        src="<%=people.profile_pic%>"
                      alt="..." width="130" class="rounded mb-2 img-thumbnail">
                    <% end %>  
                  </div>
                  
                  
                  <div class="post__body">
                    <h3>  <a style="color:black;text-decoration:none;" href="/<%=getUser.userId%>/<%=people.userId%>/profile">  <b>@<%=people.username%></b>   </a>  </h3>
                    <p><%=people.full_name%></p>
                  </div>
                </div>
              <% else %>
                <div class="post">
                  
                  <div class="profile mr-3">
                    <% if getUser.profile_pic == nil %>
                      <% if getUser.gender == "Male" %>
                        <img 
                          src="/asset/avatar/male.jpg" 
                        alt="..." width="130" class="rounded mb-2 img-thumbnail">

                      <% else %>
                        <img 
                          src="/asset/avatar/female.jpg" 
                        alt="..." width="130" class="rounded mb-2 img-thumbnail">
                      <% end %>
                    <% else %>
                      <img 
                        src="<%=getUser.profile_pic%>"
                      alt="..." width="130" class="rounded mb-2 img-thumbnail">
                    <% end %>  
                  </div>
                  
                  <div class="post__body">
                    <h3>  <a style="color:black;text-decoration:none;" href="/<%=getUser.userId%>/profile">  <b>@<%=people.username%></b>   </a>  </h3>
                    <p><%=people.full_name%></p>
                  </div>
                </div>                    
              <% end %>

            <% end %>
          </div>
        </div>
      </div>
    </div>
    <!-- End profile widget -->



    <script src="/js/custom.js"></script>
  </body>
  
</html>