<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Twitter Clone - Final</title>

    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/showmore.css">
    <link rel="stylesheet" href="/css/stringCount.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
  </head>
  <body>

    <header class='header' style="overflow: hidden;" data-animate-header-container>
      <menu class='header-bar' data-animate-header>
        <a href="#" onclick="openNav()"  class='btn-menu' data-toggle-class='menu-active'>Menu</a>
        <a href='/<%=getUser.userId%>/home' class='btn-search' data-toggle-class='search-active'><img src="/asset/jadi4.png" class="pl-3" style="border-radius: 4px;padding: 1px;width: 100px;"></a>
        <a href='/' class='btn-search' data-toggle-class='search-active'>Logout</a>
      </menu>
    </header>
    <!-- sidebar starts -->


    <div id="mySidebar" class="sidebar">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>

      <img src="/asset/jadi3.png" class="pl-3 pb-5" style="border-radius: 4px;padding: 5px;width: 200px;">

      <a href="/<%=getUser.userId%>/home">
        <div class="sidebarOption">
          <span class="material-icons"> home </span>
          <h2>Home</h2>
        </div>
      </a>
      
      <a href="/<%=getUser.userId%>/profile">
        <div class="sidebarOption">
          <span class="material-icons"> perm_identity </span>
          <h2>Profile</h2>
        </div>
      </a>

      <a href="/<%=getUser.userId%>/trending">
        <div class="sidebarOption">
          <span class="material-icons"> <i class="fas fa-chart-line"></i> </span>
          <h2>Trending</h2>
        </div>
      </a>

      <a href="/<%=getUser.userId%>/findpeople">
        <div class="sidebarOption">
          <span class="material-icons"> <i class="fas fa-user-plus"></i> </span>
          <h2>Find People</h2>
        </div>
      </a>  
    </div>
    <div class="container pt-5 mt-5">

      <!-- Profile widget -->
      <div class="bg-white shadow rounded overflow-hidden">
        <div class="px-4 pt-0 pb-4 bg-dark">
          <div class="media align-items-end profile-header">
            <div class="profile mr-3 mb-4">
              
              <% if getUser.profile_pic == nil %>
                <% if getUser.gender == "Male" %>
                  <img src="/asset/avatar/male.jpg" alt="..." width="130" class="rounded mb-2 img-thumbnail">
                <% else %>
                  <img src="/asset/avatar/female.jpg" alt="..." width="130" class="rounded mb-2 img-thumbnail">
                <% end %>
              <% else %>
                <img src="<%=getUser.profile_pic%>" alt="..." width="130" class="rounded mb-2 img-thumbnail">
              <% end %> 
              
              <a href="#" class="btn btn-dark btn-sm btn-block" data-toggle="modal" data-target="#editModal">Edit profile</a>

                <!-- Modal -->
                <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Edit Profile</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="d-flex flex-column bd-highlight mb-3">
                          <div class="p-2 bd-highlight">
                            <div class="container pb-3" style="padding-left:150px;">    
                              <a href="/<%=getUser.userId%>/profile/editdata" class="tweetBox__tweetButton p-3" style="color:white;text-decoration:none;padding-bottom:110px;">Edit User Data</a>
                            </div>
                          </div>
                          <div class="p-2 bd-highlight">
                            <div class="container" style="padding-left:135px;">    
                              <a href="/<%=getUser.userId%>/profile/editprofpic" class="tweetBox__tweetButton p-3" style="color:white;text-decoration:none;padding-bottom:110px;">Edit Profile Picture</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

            </div>
            <div class="media-body mb-5 mt-5 text-white">
              <h4 class="mt-0 mb-0"><%=getUser.full_name%></h4>
              <p class="small mb-4">@<%=getUser.username%></p>
              <p class="small "><%=getUser.email%></p>
              <p class="small show-read-more"><%=getUser.description%></p>
            </div>
          </div>
        </div>

        <div class="bg-light p-4 d-flex justify-content-end text-center">
          <ul class="list-inline mb-0">
            <li class="list-inline-item">
              <h5 class="font-weight-bold mb-0 d-block"><%=tweetList.length%></h5><small class="text-muted"> <i class="fa fa-picture-o mr-1"></i>Tweets</small>
            </li>
            <li class="list-inline-item">
              <% if followers.length == 0%>
                <h5 class="font-weight-bold mb-0 d-block"><%=followers.length%></h5><small class="text-muted"> <i class="fa fa-user-circle-o mr-1"></i>Followers</small>
              <% else %>
                <a href="#" style="text-decoration:none;color:black;" data-toggle="modal" data-target="#followersModal<%=getUser.userId%>">
                  <h5 class="font-weight-bold mb-0 d-block"><%=followers.length%></h5><small class="text-muted"> <i class="fa fa-user-circle-o mr-1"></i>Followers</small>
                </a>


                <div class="modal fade" id="followersModal<%=getUser.userId%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <ul class="list-group">
                            <% followers.each do |follower| %>
                              <li class="list-group-item">
                                <div class="post__headerText">
                                  <h3 style="font-size:18px;"><%= follower.userFollowersId.full_name %><span class="post__headerSpecial pl-2" style="font-size:14px;">@<%= follower.userFollowersId.username %></span></h3>
                                </div>
                              </li> 
                            <% end %>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>



              <% end %>
            </li>
          </ul>
        </div>

        <div class="py-4 px-4">
          <div class="py-4">
            <h5 class="mb-3">Write a post</h5>

            <div class="tweetBox">
              <form method="POST" action="/<%=getUser.userId%>/profile/createTweet" enctype="multipart/form-data">
                <div class="tweetbox__input">

                  <% if getUser.profile_pic == nil %>                  
                    <% if getUser.gender == "Male" %>
                      <img
                        src="/asset/avatar/male.jpg"
                      alt=""/>
                    <% else %>
                      <img
                        src="/asset/avatar/female.jpg"
                      alt=""/>
                    <% end %>
                  <% else %>
                    <img
                      src="<%=getUser.profile_pic%>"
                    alt=""/>
                  <% end %>

                  <input type="text" id="input-textarea" name="content" placeholder="What's happening?" required/>
                </div>
                <div class="count" style="padding-left:800px;"><b id="charac-count">0</b><b>/1000</b></div>

                <div class="tweetbox__input" style="margin-bottom:-30px;">
                  <input type="text" name="hashtags" style="color:gray;font-size: 17px;" placeholder="Add Hashtag" />
                </div>

                <div class="d-flex justify-content-end">
                  <div class="container" >
                    <div class="container pt-4" style="padding-left:700px;" >
                  </div>
                    <div class="custom-file" >
                      <input type="file" name="file" class="custom-file-input" accept=".jpg,.png,.gif" id="customFile">
                      <label class="custom-file-label" for="customFile">Add Attachment</label>
                      <div class="invalid-feedback">Example invalid custom file feedback</div>
                    </div>
                  
                  </div>
                  <div class="p-2 bd-highlight"><button id="submitBtn" class="tweetBox__tweetButton">Submit</button></div>
                </div>

              </form>
            </div>

            <h5 class="mb-3">Recent posts</h5>

              <% tweetList.each_with_index do |tweet,index| %> 
                <div class="post">
                  <div class="post__avatar">
                    <% if tweet.userId.profile_pic == nil %>
                      
                      <% if tweet.userId.gender == "Male" %>
                        <img
                          src="/asset/avatar/male.jpg"
                        alt=""/>
                      <% else %>
                        <img
                          src="/asset/avatar/female.jpg"
                        alt=""/>
                      <% end %>

                    <% else %>
                      <img
                        src="<%=tweet.userId.profile_pic%>"
                      alt=""/>
                    <% end %>


                  </div>

                  <div class="post__body">
                    <div class="post__header">
                      <div class="post__headerText">
                        <h3>
                          <%= tweet.userId.full_name %>
                          <span class="post__headerSpecial">@<%= tweet.userId.username %></span>
                        </h3>
                      </div>
                      <div class="post__headerDescription text-justify">
                        <p class="show-read-more">
                          <%= tweet.content %>
                        </p>
                      </div>

                      <% if tweet.hashtags.length > 0 %>
                        <% tweet.hashtags.each do |hashtag| %> 
                          <a href="/<%=getUser.userId%>/explore/<%=hashtag.hashtagId.hashtagId%>/details"><b>#<%= hashtag.hashtagId.hashtagName %></b></a>
                        <% end %>
                      <% end %>

                    </div>
                    <% if tweet.attachment != nil %>
                      <img
                        src="<%=tweet.attachment%>"
                      alt=""/>
                    <% end %>
                    <div class="post__footer">
                      
                      <div class="container">
                        <% if tweet.alreadyLike == false %>
                          <a href="/<%=getUser.userId%>/profile/<%=tweet.tweetId%>/like" style="color:black;"><span class="material-icons"> favorite_border </span></a>
                        <% else %> 
                          <a href="/<%=getUser.userId%>/profile/<%=tweet.tweetId%>/dislike" style="color:black;"><i class="fas fa-heart"></i></a>
                        <% end %>

                        <span>
                          <% if tweet.likes.length != 0 %>
                          
                            <a href="#" style="color:black;padding-left:10px;" data-toggle="modal" data-target="#likeDataModal<%=tweet.tweetId%>"><%= tweet.likes.length %></a> 

                            <!-- Modal -->
                            <div class="modal fade" id="likeDataModal<%=tweet.tweetId%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <ul class="list-group">
                                        <% tweet.likes.each do |likes| %>
                                          <li class="list-group-item">
                                            <div class="post__headerText">
                                              <h3 style="font-size:18px;"><%= likes.userId.full_name %><span class="post__headerSpecial pl-2" style="font-size:14px;">@<%= likes.userId.username %></span></h3>
                                            </div>
                                          </li> 
                                        <% end %>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>

                          <% end %>
                        </span>
                      </div>

                      <div class="container">
                        <a href="/<%=getUser.userId%>/<%=tweet.tweetId%>/comment" style="color:black;"><span class="material-icons"> comment </span></a> 
                        <span style="padding-bottom:5px;padding-left:10px;">
                          <% if tweet.comments != 0 %>
                            <a href="/<%=getUser.userId%>/<%=tweet.tweetId%>/comment" style="color:black;"><%= tweet.comments %></a> 
                          <% end %>
                        </span>
                      </div>

                      <span class="material-icons">  </span>
                    </div>
                  </div>
                </div>
              <% end %>

          </div>
        </div>
      </div><!-- End profile widget -->




    </div>

    <script src="/js/showmore.js"></script>
    <script src="/js/custom.js"></script>
    <script src="/js/uploadFile.js"></script>
    <script src="/js/stringCount.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
  
</html>