<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container">

        <form method="post" action="/create" class="pt-5 pb-5">
            <div class="row">
                <div class="col">
                    <input required type="text" name="item_name" class="form-control" placeholder="Item name">
                </div>
                <div class="col">
                    <input required type="number" name="item_price" class="form-control" placeholder="Item price">
                </div>
                <div class="col">
                    <div class="form-group">
                        <select required name="item_category" class="form-control">
                            <option disabled value selected>Item Category</option>
                            <% categories.each do |category| %>
                                <option value=<%=category.id%>><%=category.name%></option>
                            <% end %>
                        </select>
                    </div>
                </div>

                <div class="col">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>



        <table class="table text-center">
            <thead class="thead-dark">
                <tr>
                <th scope="col">No.</th>
                <th scope="col">Item</th>
                <th scope="col">Category</th>
                <th scope="col">Price</th>
                <th scope="col">action</th>
                </tr>
            </thead>
            <tbody>

                <% items.each_with_index do |item,index| %>
                    <tr>
                        <th scope="row"><%= index+1 %></th>
                        <td><%= item.name %></td>
                        <td><%= item.category.name %></td>
                        <td><%= item.price %></td>
                        <td>
                            <a href="/update/<%= item.name %>" style="color: black; text-decoration: none;" class="pl-1 pr-1">
                                edit
                            </a>                        
                            <a href="#" style="color: black; text-decoration: none;" class="pl-1 pr-1" data-toggle="modal" data-target="#deleteModal<%= item.id %>">
                                delete
                            </a>     
                        </td>
                    </tr>

                    <div class="modal fade" id="deleteModal<%= item.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete <b><%= item.name %></b>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <a type="submit" style="text-decoration: none;color:white;" class="btn btn-primary" href="/delete/<%= item.id %>/<%= item.name %>">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>



                <% end %>
            </tbody>
        </table>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>